<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Play Game</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Play Game</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            {{#if matchWinnerCount}}
            {{#each matchWinnerCount}}
            <div class="col-12 col-sm-4">
                <div class="small-box {{#compare @index ">" 0}}bg-success{{else}}bg-info{{/compare}}">
                    <div class="inner">
                        <h3>{{#compare team1Count ">" team2Count}}{{team1Count}}{{else}}{{team2Count}}{{/compare}}</h3>

                        <p>{{_id}} Wins</p>
                    </div>
                    <div class="icon">
                        <i class="fas ion ion-stats-bars"></i>
                    </div>
                </div>
                {{!-- <div class="info-box bg-light">
                    <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">{{_id}} Wins</span>
                        <span
                            class="info-box-number text-center text-success mb-0">{{#compare team1Count ">" team2Count}}{{team1Count}}{{else}}{{team2Count}}{{/compare}}</span>
                    </div>
                </div> --}}
            </div>
            {{/each}}
            {{/if}}
        </div>
        <div class="row  justify-content-md-center">
            <!-- left column -->
            <div class="col-md-6 ">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Let's Play <i class="ml-1 fa fa-question-circle"
                                title="Click on new game button to start game"></i></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="gameForm">
                        <div class="card-body">
                            <label id="turnName">Yellow Turn</label>

                            <div class="row  ">
                                <!-- left column -->
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="positionInput"
                                            placeholder="Enters cloumn number(1-7)" disabled></div>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary btn-block ladda-button" id="enter"
                                        disabled data-style="expand-left"
                                        title="Enter column and press button">Enter</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-info btn-block" id="newGame"
                                        title="Start new Game">New
                                        Game</button>
                                </div>
                                <label id="detail"></label>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <!-- general form elements -->
                                        <div class="content">
                                            {{!-- <table class="table_overlay">
                                                <tr>
                                                    <td id="square_one_text" class="text"></td>
                                                    <td id="square_one_text" class="text"></td>
                                                    <td id="square_one_text" class="text"></td>
                                                    <td id="square_one_text" class="text"></td>
                                                    <td id="square_two_text" class="text"></td>
                                                    <td id="06_text" class="text"></td>
                                                </tr>
                                                <tr>
                                                    <td id="square_four_text" class="text"></td>
                                                    <td id="square_five_text" class="text"></td>
                                                    <td id="square_six_text" class="text"></td>
                                                    <td id="square_six_text" class="text"></td>
                                                    <td id="square_six_text" class="text"></td>
                                                    <td id="square_six_text" class="text"></td>
                                                </tr>
                                                <tr>
                                                    <td id="square_seven_text" class="text"></td>
                                                    <td id="square_eight_text" class="text"></td>
                                                    <td id="square_nine_text" class="text"></td>
                                                    <td id="square_nine_text" class="text"></td>
                                                    <td id="square_nine_text" class="text"></td>
                                                    <td id="square_nine_text" class="text"></td>
                                                </tr>
                                            </table> --}}
                                            <div class="board">
                                                <table>
                                                    <tr>
                                                        <td class="ground" id="00"></td>
                                                        <td class="ground" id="01"></td>
                                                        <td class="ground" id="02"></td>
                                                        <td class="ground" id="03"></td>

                                                        <td class="ground" id="04"></td>

                                                        <td class="ground" id="05"></td>
                                                        <td class="ground" id="06"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ground" id="10"></td>
                                                        <td class="ground" id="11"></td>
                                                        <td class="ground" id="12"></td>
                                                        <td class="ground" id="13"></td>
                                                        <td class="ground" id="14"></td>
                                                        <td class="ground" id="15"></td>
                                                        <td class="ground" id="16"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ground" id="20"></td>
                                                        <td class="ground" id="21"></td>
                                                        <td class="ground" id="22"></td>
                                                        <td class="ground" id="23"></td>
                                                        <td class="ground" id="24"></td>
                                                        <td class="ground" id="25"></td>
                                                        <td class="ground" id="26"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ground" id="30"></td>
                                                        <td class="ground" id="31"></td>
                                                        <td class="ground" id="32"></td>
                                                        <td class="ground" id="33"></td>
                                                        <td class="ground" id="34"></td>
                                                        <td class="ground" id="35"></td>
                                                        <td class="ground" id="36"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ground" id="40"></td>
                                                        <td class="ground" id="41"></td>
                                                        <td class="ground" id="42"></td>
                                                        <td class="ground" id="43"></td>
                                                        <td class="ground" id="44"></td>
                                                        <td class="ground" id="45"></td>
                                                        <td class="ground" id="46"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ground" id="50"></td>
                                                        <td class="ground" id="51"></td>
                                                        <td class="ground" id="52"></td>
                                                        <td class="ground" id="53"></td>
                                                        <td class="ground" id="54"></td>
                                                        <td class="ground" id="55"></td>
                                                        <td class="ground" id="56"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!-- /.card -->

                                        </div>
                                    </div>
                                    <!--/.col (left) -->
                                </div>

                            </div>
                            <!-- /.card-body -->

                            {{!-- <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div> --}}
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        new game()
    })
</script>